.icon.help {
  background-image: url("../../img/help.png");
  background-size: 1em 1em;
  cursor: pointer;
  width: 1em;
  height: 1em;
  display: inline-block;
  filter: brightness(0.7) sepia(1) hue-rotate(-20deg) saturate(8); /* teinte rougeâtre */
  transition: filter 0.3s ease;
}

.icon.help:hover {
  filter: brightness(1.2) sepia(1) hue-rotate(-10deg) saturate(12);
}
