.mods {
  overflow-y: auto;
  background-color: #000;
  color: #d3d3d3;
  padding: 1em;
  border-left: 1px solid #780000;
  border-right: 1px solid #780000;
}

.mods h3 {
  margin-left: 1em;
  color: #b80000;
  border-bottom: 1px solid #780000;
  padding-bottom: 0.3em;
  font-weight: normal;
}
