/* src/components/SyncLogo/SyncLogo.css */
.sync-logo-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5em;
    display: inline-flex;
    align-items: center;
  }
  
  .sync-icon {
    fill: currentColor;
    /* Vous pouvez définir ici la taille, la couleur, etc. */
    width: 24px;
    height: 24px;
  }
  
  /* Animation de rotation pour l'icône de synchronisation */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .spinning {
    animation: spin 1s linear infinite;
  }
  