.optimizer-view {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  background-color: #000;       /* fond noir absolu */
  color: #d3d3d3;               /* texte gris clair */
  border-top: 1px solid #780000;
  border-bottom: 1px solid #780000;
}
