div.toggle-wrapper {
  margin-bottom: .5em;
}

input.toggle {
  display: none;
}

div.toggle-label {
  border-bottom: 1px solid #ffdddd;
  margin-bottom: .3em;
  color: #ffdddd;
}

div.toggle-wrapper label {
  font-size: .9em;
  border: none;
  margin: 0;
  color: #d3d3d3;
}

div.toggle-wrapper.disabled label {
  opacity: .5;
}

.toggle-left-value,
.toggle-right-value {
  cursor: pointer;
  color: #d3d3d3;
}

span.toggle-switch {
  display: inline-block;
  width: 2em;
  height: 1em;
  position: relative;
  border-radius: .25em;
  background-color: #111;
  border: 1px solid #b80000;
  vertical-align: middle;
  margin: 0 .5em;
  cursor: pointer;
  box-shadow: inset 0 0 4px #ff000055;
}

span.toggle-switch::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: .25em;
  border: .2em outset #b80000;
  width: 1.2em;
  height: 1.2em;
  box-sizing: border-box;
  top: -.1em;
  left: .9em;
  background-color: #ff3333;
  transition: left .2s ease-in-out, right .2s ease-in-out;
  box-shadow: 0 0 6px #ff3333aa;
}

span.toggle-switch.left::after {
  left: 0;
  right: auto;
}

span.toggle-switch.right::after {
  right: 0;
  left: auto;
}
